/* This file is made to be edited */

@font-face{font-family:tk-nimbus-sans-n4;src:url(https://fonts.typekit.net/af/911c19/00000000000000000001518d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4) format("woff2");font-weight:400;font-style:normal;}
@font-face{font-family:tk-nimbus-sans-i4;src:url(https://fonts.typekit.net/af/ffdb5a/00000000000000000001011f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4) format("woff2");font-weight:400;font-style:italic;}
@font-face{font-family:tk-nimbus-sans-n7;src:url(https://fonts.typekit.net/af/3c477d/000000000000000000012544/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7) format("woff2");font-weight:700;font-style:normal;}
@font-face{font-family:tk-nimbus-sans-i7;src:url(https://fonts.typekit.net/af/c34db9/000000000000000000010121/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7) format("woff2");font-weight:700;font-style:italic;}
@font-face{font-family:tk-nimbus-sans-condensed-n4;src:url(https://fonts.typekit.net/af/c68388/000000000000000000010124/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4) format("woff2");font-weight:400;font-style:normal;}
@font-face{font-family:tk-nimbus-sans-condensed-n7;src:url(https://fonts.typekit.net/af/5291f1/000000000000000000010125/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7) format("woff2");font-weight:700;font-style:normal;}

#slide-0 label {
  color: white;
}

#next_container
{
 position: fixed;
 width:300px;
 bottom: -100px;
 right:25%;
 left:50%;
 margin-left:-150px;
 padding-bottom: 10px;
}

.text_bold
{
 font-family: 'tk-nimbus-sans-condensed-n4', serif;
 color : white;
 font-size: 1.2em;
 font-weight: bold;
 line-height: 0;
}

@keyframes slide_in {
  100% {
    bottom: 0px;
  }
}

@keyframes slide_out {
  100% {
    bottom: -100px;
  }
}

.text_bold
{
 font-family: 'tk-nimbus-sans-condensed-n4', serif;
 color : white;
 font-size: 1.2em;
 font-weight: bold;
 line-height: 0;
}

.text_small
{
 font-family: 'tk-nimbus-sans-condensed-n4', serif;
 color : white;
 font-size: 1.2em;
}

.other-choice-text {
  display: inline-block;
  width: auto;
  margin-left: 10px;
}

.input-container {
  background-size: cover !important;
  background-position: center !important;
  min-height: 100vh !important;
}

.img_top
{
  height: 50px;
  margin-top: 30px;
}

[type="text"] {
  background-color: #f6f0e7;
  border-radius: 7px;
  font-family: 'tk-nimbus-sans-condensed-n4', serif;
  font-size: 0.9em;
  padding-left: 0.9em;
  box-shadow: none;
  border: none;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  outline: none;
  max-width: 600px;
  padding-right: 20px;
  flex:1;
}

[type="text"]:focus {
  outline-color: transparent;
  outline-style: none;
  box-shadow: none;
  border: none;
}

textarea {
  background-color: #f6f0e7;
  border-radius: 7px;
  font-family: 'tk-nimbus-sans-condensed-n4', serif;
  font-size: 0.9em;
  padding-left: 0.9em;
  box-shadow: none;
  border: none;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  outline: none;
  max-width: 600px;
  padding-right: 20px;
  flex:1;
}

textarea:focus {
  outline-color: transparent;
  outline-style: none;
  box-shadow: none;
  border: none;
}

textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {
  color:    #c3afa0;
}
textarea:-moz-placeholder, input:-moz-placeholder {
 color:    #c3afa0;
 opacity:  1;
}
textarea::-moz-placeholder, input::-moz-placeholder{
 color:    #c3afa0;
 opacity:  1;
}
textarea:-ms-input-placeholder, input:-ms-input-placeholder{
 color:    #c3afa0;
}

.row {
  max-width: 100% !important;
  width: 100% !important;
  margin-right: auto;
  margin-left: auto;
}

.texte-choix_unique {
  padding-top: 5%;
  font-family: 'Slabo 13px', serif;
  color : white;
  font-size: 2.5em;
  line-height: 1em;
  margin-top: 30px;
}

.label-choix_unique, .label {
  padding-left: 10px;
  font-family: 'tk-nimbus-sans-condensed-n4', serif;
  color : white;
  font-size: 1.5em;
}

.reponse-container-choix_unique,
.reponse-container-choix_multiple
{
  font-family: 'tk-nimbus-sans-condensed-n4', serif;
  color : white;
}

[type="radio"] {
  display: none;
  border: 0;
  overflow: hidden;
}

[type="radio"] + label span::before {
  content: url('https://s3.amazonaws.com/heroku-adfinitas-campaign/ESF-Donor-Journey-2016/unchecked.png');
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: -0.3em;
  margin-right: 1em;
  transition: 0.5s ease all;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[type="radio"]:checked + label span::before {
  content: url('https://s3.amazonaws.com/heroku-adfinitas-campaign/ESF-Donor-Journey-2016/checked.png');
}

[type="checkbox"] {
  display: none;
  border: 0;
  overflow: hidden;
}

[type="checkbox"] + label span::before {
  content: url('../img/arrow_unchecked.png');
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.1em;
  margin-right: 1em;
  transition: 0.5s ease all;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[type="checkbox"]:checked + label span::before {
  content: url('../img/arrow_checked.png');
}

[type="checkbox"]:focus + label span::after {
  content: url('');
  font-size: 1.5em;
  line-height: 1;
  vertical-align: -0.125em;
}
